/** CARD */
abbr {
	border-bottom: 1px dotted #D3D3D3;
}
.card {
	width: 100%;
	margin: 0 auto;
	line-height: 1.6;
	padding: 1rem;
	border: 1px solid #D3D3D3;
	background-color: #fafafa;
	text-align: center;
}
.card-header {
	background-color: #FF7043;
	text-align: center;
	padding: 1rem 0.5rem;
	border-radius: 3px;
}
.card-header img {
	width: 60%;
	height: 60%;
	border: 3px solid #eeeeee;
	border-radius: 50% 50%;
}
.card-header h1, .card-body h2 {
	word-wrap: break-word;
}
.card-header h1 {
	color: #fafafa;
	font-size: 3rem;
	line-height: 1.2;
  margin-bottom: 1.875rem;
}

.card-body {
	padding: 2em 0;
	text-align: justify;
}
.card-body h2 {
	color:#FF7043;
	font-size: 1.375em;
	margin-bottom: 0.625em;
	text-align: center;
}
.card-body p {
	color: #303030;
}
.card-footer {
	padding-top: 0.75em;
	border-top: 1px dotted #D3D3D3;
}

@media (max-width: 1024px) {
	.card-header h1 {
		font-size: 3rem;
	  margin-bottom: 1.875rem;
	}
	.card-footer .button {
		width: 40%;
	}
}
@media (max-width: 600px) {
	.card-body p {
		text-align: left;
	}
}
@media (max-width: 600px), (max-width: 360px) {
	.card-header h1 {
		font-size: 2rem;
	  margin-bottom: 1rem;
	}
}
@media (max-width: 360px) {
	.container {
		max-width: 100%;
	}
	.card-body p {
		text-align: center;
	}
	.card-footer .button {
		width: 100%;
	}
}