<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Components</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet'>
	<link rel="stylesheet" href="../../../css/themify-icons.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<link rel="stylesheet" href="button.css">
</head>
<body>
	<header class="menu">
		<nav>
			<ul>
				<li><a href="../../../index.html"><i class="ti-arrow-left"></i> Back to Projects</a></li>
			</ul>
		</nav>
	</header>
	<section class="page-title">
		<h1>Web Components</h1>
		<p>Created from project assignments at Learn. Modern Developer</p>
	</section>
	<section class="components">
		<aside class="component-sidebar">
			<div class="component-sidebar-title">
				<h2>Available Components</h2>
			</div>
			<nav>
				<ul>
					<li><a href="#buttons">Buttons</a></li>
					<li><a href="#">Coming Soon</a></li>
				</ul>
			</nav>
		</aside>
		<div class="component-container">
			<a id="buttons"></a>
			<div class="component">
				<h2>Buttons</h2>
				<h3>A Basic Button</h3>
				<div class="button">Buy Now</div>

				<h3>A Button Element with the Button Class</h3>
				<button class="button">Send Mail</button>

				<h3>An Anchor with a Button Class</h3>
				<a href="#" class="button">Search</a>

				<h3>Buttons of Different Sizes</h3>
				<div class="button button-sm">A Small Button</div>
				<div class="button button-md">A Medium Button</div>
				<div class="button button-lg">A Large Button</div>		
			</div>
		</div>
	</section>
	<footer>
		<span>Copyright &copy; 2016!</span>
	</footer>
</body>
</html>